html {
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    background-color: #FFF;  
    width: 100%;
}

ul {
    list-style-type: none; 
}

a {
    text-decoration: none;
    color: black;
}

img { 
    max-width: 100%;
}

nav {
    background-color: #34495e;
    color: white;
}

nav ul {
    display: flex;
}

nav li a {
    padding: 100px; 
    font-size: 18px;
    color: white;
}

h1 {
    margin-left: 40px;
}

 .menu
{
    display: flex;
    flex-direction: row;
 
} 
 nav{
    display: flex;
    flex-direction: row;  
    align-items: baseline;  
    justify-content: flex-start;
   
} 



.billet{
    text-align: center;
    font-size: 60px;
    margin: 25px 0;
}


#intro{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}


.publication {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.titre {
    text-align: center;
}

.news
{
    width:60%;
    margin: auto;
}

.news p
{
    background-color: #bdc3c7;
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.comment {
    padding: 5px 0;
    text-align: center;
}


.news a{
    color:orangered;
    font-weight: bold;
}

.commentaire a{
    list-style: none;
    color: red;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    margin-left: 3%;
}

.commentaire{
    list-style: none;
    color: orangered;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    margin-left: 3%;

}

.auteur{
    color: red;
    margin-left: 3%;
}
.textcommentaire{
    margin-left: 3%;
}

#laissercommentaire
{
    border-top: solid 3px orangered;
}
#comment{
    margin-left: 3%;
    margin-top: 2%;
}



.comment{
    background-color: #bdc3c7;
    width: 100%;
    margin-top: 0%;
}

footer{
    background-color: #34495e;
    height: 72px;
    margin-top: 30px;
}

.pied {
    text-align: center;
    color: white;
    font-weight: bold;
    align-items: center;
    padding: 10px;
}

#commentRead  {
    display: flex;
}


